body {
    font-family: Georgia, serif;
    color: #e400af;
    background-color:rgb(255, 255, 255);
  }
h1 {
  color:#ff3399;
}
nav {
  background-color:#ff99cc;
  padding: 10px;
  margin-bottom: 30px;
}
nav a {
  color:#ffffff;
}
nav a:hover {
  background-color: #ffcce6;
}

@media only screen and (max-width: 600px){
  nav a{max-width: 100%; display: block;}
  span{display: none;}
}