body {
    font-family: 'Noto Sans', sans-serif;
    color: #023047;
    background-color:#faf7f0;
  }
h1, h2 {
  color:#023047;
}
nav {
  padding: 10px;
  margin-bottom: 10px;
}
nav a {
  color:#023047;
}
nav a:hover {
  background-color:white;
}

p{
  color:#023047;
}

span{
  color:#023047
}

.skip{
  background-color:#faf7f0;
  padding: 5px;
  border: 1px solid black;
  position:absolute;
  top:30px;
  left: -999px;
} 

.skip:focus {
  left:10px;
}

@media only screen and (max-width: 600px){
  nav a{max-width: 100%; display: block;}
  span{display: none;}
}